body {
    font-family: "Open Sans";
}

#main {
    margin: 10px 20px;
}

.letter {
    margin-bottom: 50px;
}

.letter p {
    font-family: Arial, sans-serif;
    font-weight: 500;
    font-size: larger;
    font-size: 12px;
    margin: 0 0 2px 0;
    color: #666;
}

.bar-container {
    height: 10px;
    margin: 0;
    width: 400px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

.bar {
    float: left;
    width: 0;
    height: 100%;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
}
.letter.high-frequency .bar {
    background-color: #02458e;
}

.letter.mid-frequency .bar {
    background-color: #378ac4;
}

.letter.low-frequency .bar {
    background-color: #8ac0df;
}
#main {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 50px;
    gap: 5px;
    width: 100%; 
}
#main:not(h3) {
    border: 1px solid #333;
    padding: 10px;
    text-align: center;
}